.form__input:invalid{
    border: 2px solid yellow;
}
.cart-form{
    margin: auto;
    padding: 1em;
}
.cart-form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: .5em auto;
}
.cart-form__label{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: .5em;
}
.cart-form__input{
    width: 70%;
    padding: .3em;
    margin-left: auto;
    outline: none;
}
.cart-form__input:focus{
    border: 1px solid grey;
}
.cart-form__input:invalid{
    background-color: rgba(255, 166, 0, 0.111);
    border: 1px solid orange ;
}
.cart-form__input:valid{
    background-color: lightgreen;
    border: 1px solid green ;

}
.cart-form__submit{
    cursor: pointer;
    width: 100%;
    padding: .5em;
    border-radius: 3px;
    border: none;
    background-color: blue;
}
/*---------------------------------*/
.voucher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
    padding: 0 1.5em 1em 1.5em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.727);
}
.voucher__title{
    font-weight: 500;
}
.voucher__list{
    list-style: none;
    padding-left: 0;
}
.voucher__list-item{
    display: flex;
    padding: 0 .5em .2em .5em;
    border-bottom: 1px solid grey;
}
.voucher__list-price{
    margin-left: auto ;
    font-size:1.2em;

}
.voucher__total{
    margin-left: auto;
    padding-right: .5em;
}
.voucher__total-price{
    padding-left: .2em;
    font-size:1.5em;
    font-weight: 500;
}
.voucher__p{
    padding-left: .5em;

}
.voucher__id{
    font-weight: 500;
}
.voucher__link{
    margin-left: auto;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}