body{
  background-color: #EBEBEB;
}
.header{
  background-color: #596aff;
}
.main{
  padding-top: 1em;
  margin: 0 auto;
  max-width: 1200px;
}
.footer{
  color: whitesmoke;
}
.product{
  color: aliceblue;
}
@media screen and (min-width: 1200px){
  .header{
    padding-top: .5em;
    padding-bottom: .5em;
  }
}