/* .itemcount{
    background-color: rosybrown;
    width: 12em;
    display: flex;
    
    flex-wrap: wrap;
    margin-top: 2em;
} */
.stock{
    padding: 1em 0;
    /* padding-bottom: 1em; */
    /* background-color: blue; */
    /* background-color: salmon; */
}
.itemcount__avail{
    /* border: 1px solid rgb(3, 2, 2); */
    /* margin-top: .5em; */
}
.itemcount__stock{
    padding-left: .5em;
    color: rgba(0, 0, 0, 0.568);
    
}
.itemcount__form{
    border-radius: .2em;
}
.itemcount__form-div{
    border-radius: .2em;
    background-color: #EBEBEB;
    width: 100%;
    display: flex;
    align-items: center;
}
.itemcount__count{

}
.itemcount__minus,
.itemcount__plus{
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: .2em 1.2em;
    color: #3983FA;
    background-color: transparent;
    /* background-color: #EBEBEB; */
}
.itemcount__minus{
    margin-left: auto;
    /* border-right: 1px solid rgba(0, 0, 0, 0.144); */
    /* margin-right: .5em; */
    /* border-radius: 25px 0 0 25px; */
}
.itemcount__plus{
    margin-right: .5em;
    /* border-radius: 0 25px 25px 0; */
}
.itemcount__plus:disabled,
.itemcount__minus:disabled{
    color: grey;
}
.itemcount__minus:active,
.itemcount__plus:active{
    background-color: #c3c3c3 ;
}
.itemcount__addcart{
    cursor: pointer;
    width: 100%;
    margin-top: .5em;
    border: none;
    border-radius: .2em;
    padding: .6em 0;
    color: #3983FA;
    background-color: #D9E7FA;
}
