.stock{
    padding: .5em 0 1em 0;
}
.itemcount__stock{
    padding-left: .5em;
    color: rgba(0, 0, 0, 0.568);   
}
.itemcount__form{
    border-radius: .2em;
}
.itemcount__form-div{
    border-radius: .2em;
    background-color: #EBEBEB;
    width: 100%;
    display: flex;
    align-items: center;
}
.itemcount__minus,
.itemcount__plus{
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: .2em 1.2em;
    color: #3983FA;
    background-color: transparent;
}
.itemcount__minus{
    margin-left: auto;
}
.itemcount__plus{
    margin-right: .5em;
}
.itemcount__plus:disabled,
.itemcount__minus:disabled{
    color: grey;
}
.itemcount__minus:active,
.itemcount__plus:active{
    background-color: #c3c3c3 ;
}
.itemcount__addcart{
    cursor: pointer;
    width: 100%;
    margin-top: .5em;
    border: none;
    border-radius: .2em;
    padding: .6em 0;
    color: #3983FA;
    background-color: #D9E7FA;
    outline: none;
}
.itemcount__addcart:hover{
    background-color: #bad7ff;
}
.itemcount__addcart:active{
    background-color: #bad7ff;
}
@media screen and (min-width: 800px){
    .itemcount__form-div{
        padding-left: .2em;
    }
    .itemcount__minus,
    .itemcount__plus{
        padding: .2em 1em;
    }
}
@media screen and (min-width:1200px){
    .itemcount__addcart{
        padding: .8em 0;
    }
}